{% extends "movies-base.html" %}

{% block main_content%}
<h2>Logged in as User <span id="login_uid">23</span></h2>

<p>This form stands in for a "real" login form that would have both a
userID and a password, and would check the password against encrypted
passwords in the database. But we're not doing that. Any UID should
work: try your own, or any small integer.</p>
<p>Your back-end will support both old-fashioned non-Ajax logins and
Ajax logins. The two buttons submit to different back-end routes.</p>

<form id="login_form" method="post" action="/set-UID/">
    <p><label>userid: <input type="text" name="uid" placeholder="12"></label></p>
    <p>
        <input type="submit" value="submit">
        <input type="button" id="ajax_login" value="submit via Ajax">
    </p>
</form>

{% endblock %}